$color-border: #383b44;
$color-base: #a0b3c6;
$color-muted: #6a737d;
$color-hover: #1d252c;
$color-link: #b8bfce;
$color-striped: #f2f2f2;
$font-size: 14px;
$line-height: 1.5;
$icon-size: ($font-size * $line-height);

@mixin mobile() {
  @media (max-width: 768px) {
    @content;
  }
}

body {
  background-color: #28313a;
  color: $color-base;
  line-height: $line-height;
  font-size: $font-size;
  word-break: break-all;
  word-wrap: break-word;
}

h1 {
  color: #33ced8;
}

// .seperator {
//   height: 0;
//   border: 0;
//   border-bottom: 1px solid $color-border;
// }

a {
  color: $color-link;
  text-decoration: none;
  touch-action: manipulation;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  max-width: 900px;
}

.files {
  width: 100%;
  color: $color-muted;
  border-collapse: collapse;

  &__item {
    border: 1px solid $color-border;

    &:hover {
      background: $color-hover;
    }
  }
}

.file {
  &__icon,
  &__name,
  &__size,
  &__mtime {
    padding: 6px 10px;
    vertical-align: top;
  }

  &__icon {
    width: $icon-size;
    padding-right: 2px;
    text-align: center;
  }

  &__name {
    padding-left: 3px;
  }

  &__size {
    width: 100px;
    text-align: right;
    white-space: nowrap;
  }

  @include mobile() {
    &__size,
    &__mtime {
      display: none;
    }

    &__link {
      display: block;
    }
  }

  &__mtime {
    width: 150px;
    text-align: right;
    white-space: nowrap;
  }
}

.file-icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
  background-repeat: no-repeat;
  background-position: center center;
}
